@import "../../../../sass/variables";

.hudButton {
	$size: 46px;

	position: absolute;
	top: $gem-gap;
	right: $gem-gap;
	width: $size;
	height: $size;
	border-radius: 100%;

	.hudButton__icon {
		width: $size;
		height: $size;
		background: transparent url(../../../../ui/assets/images/uiTriggers.png) 0 0 scroll no-repeat;
		transition: opacity .25s ease-in-out;
		opacity: .75;

		&:hover {
			opacity: 1;
		}
	}

	&--inventory {
		.hudButton__icon {
			background-position: -50px 0;
		}
	}
}
