@import "../../../../commons/sass/variables";

.hudButton {
	$size: 46px;

	position: absolute;
	width: $size;
	height: $size;
	border-radius: 100%;

	.hudButton__icon {
		width: $size;
		height: $size;
		background: transparent url(../../../../ui/assets/images/uiTriggers.png) 0 0 scroll no-repeat;
		transition: opacity .25s ease-in-out;
		opacity: .75;

		&:hover {
			opacity: 1;
		}
	}

	&--hide {
		pointer-events: none;

		.hudButton__icon {
			opacity: 0;

			&:hover {
				opacity: 0;
			}
		}
	}
}
