{
  "printWidth": 120,
  "arrowParens": "avoid",
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": false,

  "overrides": [
    {
      "files": "src/game/i18n/*.ts",
      "options": {
        "singleQuote": false,
        "printWidth": 1000
      }
    }
  ]
}
