@import "../../../../sass/variables";

.CloseupWidget {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	place-items: center;

	&__window {
		width: $gem-closeup-width;
		height: $gem-closeup-height;
		position: relative;
	}

	&__border {
		$negativeMargin: -10px;
		position: absolute;
		top: $negativeMargin;
		left: $negativeMargin;
		right: $negativeMargin;
		bottom: $negativeMargin;
		border: 30px solid transparent;
		border-image: url(../../../../ui/assets/images/leafsBorder.png) 30 repeat;
		pointer-events: none;
	}
}
