@import "../../commons/sass/variables";
@import "../../../game/scenes/saveThumbs";
@import "global";
@import "scrollbars";
@import "shake";

.Gem {
	position: relative;
	width: $gem-viewport-width;
	height: $gem-viewport-height;
	background-color: #000;
	box-shadow: 0 0 20px 5px #3784e87a;

	&__viewport {
		position: relative;
		width: $gem-viewport-width;
		height: $gem-viewport-height;
		overflow: hidden;
	}

	&__viewport--shake {
		// https://github.com/elrumordelaluz/csshake/blob/master/scss/csshake.scss
		@include do-shake($name: 'viewportShake', $h: 10, $v: 5, $r: 0, $dur: 3000ms);
	}

}


