@import "../../../commons/sass/variables";

.root {
	display: flex;
	flex-direction: column;
	padding: $gem-gap * 2;
}

.slots {
	margin-bottom: $gem-gap * 2;
	display: flex;
	gap: $gem-gap-sm * 2;
}
