.saveThumb {
	&--elmWorkshopByElm {
		background-image: url(./elmWorkshopByElm/assets/images/elmWorkshop.jpg);
	}
	&--elmWorkshopByHazel {
		background-image: url(./elmWorkshopByHazel/assets/images/elmWorkshop.jpg);
	}
	&--hazelWorkshopByElm {
		background-image: url(./hazelWorkshopByElm/assets/images/hazelWorkshop1_BW.jpg);
	}
	&--hazelWorkshopByHazel {
		background-image: url(./hazelWorkshopByHazel/assets/images/hazelWorkshop.jpg);
	}
}
