@import "../../../../sass/variables";

.devDialogueTree {
	position: fixed;
	top: $gem-gap;
	left: $gem-gap;
	width: 200px;
	border: 1px solid hotpink;
	overflow-wrap: break-word;
	z-index: 1;

	&__item {
		margin-bottom: 5px;
	}
}

