@import "../../commons/sass/variables";

.VerbMenu {
	position: absolute;
	// box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .5);
	filter: $filterDropShadow;
	background: transparent url(../../ui/assets/images/paperBg.jpg) 0 0 scroll no-repeat;
	background-size: 100% 100%;
	padding: 3px;

	top: 0;
	left: 0;
	opacity: 0;

	&--show {
		opacity: 1;
	}

	&__border {
		@include gemUIBorders();
	}
}
