.DevTools {

	// https://css-tricks.com/snippets/css/system-font-stack/
	// https://getbootstrap.com/docs/5.0/content/reboot/#native-font-stack

	font-family:
		system-ui,
			// Safari for macOS and iOS (San Francisco)
		-apple-system,
			// Chrome < 56 for macOS (San Francisco)
		BlinkMacSystemFont,
			// Windows
		"Segoe UI",
			// Android
		Roboto,
			// Basic web fallback
		"Helvetica Neue", Arial,
			// Linux
		"Noto Sans",
		"Liberation Sans",
			// Sans serif fallback
		sans-serif;

	font-size: 12px;
	line-height: 1.2em;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #ccc;
}

.devPanel {
	display: block;
	position: absolute;
	padding: 5px 10px;
	background-color: rgba(0,0,0,0.5);
}

/*-----------------------------------------------------
	left side - toolbox
-----------------------------------------------------*/

.devToolBox {
	top: 0;
	left: -160px;
	width: 140px;
}

.devToolBox a {
	color: #ccc;
	display: block;
	margin-bottom: 3px;

	&.active {
		color: #a7c41f;
	}
}
