.DevAdditionalStatesBoxes {
	top: 80px;
	left: -160px;
	width: 140px;
	height: 250px;

	.devStateList {
		height: 220px;
		margin-bottom: 0;
	}

	&__header {
		margin-bottom: 10px;

		&__tab {
			cursor: pointer;
			padding: 0 5px;

			&--active {
				border-bottom: 3px solid #349cc8;
			}
		}
	}
}
