$gem-viewport-width: 800px;
$gem-viewport-height: 600px;

$gem-gap: 20px;

$gem-font-size: 14px; // (was 16px)
$gem-line-height: 1.4; // === 19,6

$gem-text-color: #000;
$gem-text-color-disabled: rgba($gem-text-color, .5);
$gem-color-debug: deeppink;




