$gem-viewport-width: 1280px;
$gem-viewport-height: 720px;

$gem-closeup-width: 1028px;
$gem-closeup-height: 580px;

$gem-gap: 15px;

$gem-font-size: 14px; // (was 16px)
$gem-line-height: 1.4; // === 19,6

$gem-text-color: #000;
$gem-text-color-disabled: rgba($gem-text-color, .5);

$gem-color-debug: deeppink;
$gem-color-red: #ba1c16;



