@import "../../sass/variables";

.Poi {
	position: absolute;
	pointer-events: none;

	.Gem--debug--showPoi & {
		box-shadow: 0 0 0 1px $gem-color-debug;
	}

	&__hotspot {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: auto;

		.Gem--debug--showHotspot & {
			background-color: rgba($gem-color-debug, .5);
		}
	}
}
