@import "../../../commons/sass/variables";

.SceneViewer {
	position: relative;
	width: $gem-viewport-width;
	height: $gem-viewport-height;
	overflow: hidden;
	z-index: $z-index-secondSceneViewer;
}

.SceneViewerLoader {
	position: absolute;
	bottom: $gem-gap * 3 - 10;
	left: $gem-gap * 3;
}

